@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: rgb(22, 22, 22);
  --primary-green: rgb(224, 231, 211);
  --secondary-green: rgb(222, 229, 209);
  --text-white: rgb(255, 255, 255);
  --text-off-white: rgb(247, 247, 247);
  --muted-green: rgb(170, 175, 160);
  --hover-green: rgb(209, 214, 199);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-white);
  background: var(--background-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Marquee Animation for Hero */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

